// ------------------------------------------------------------------
// Header Med
// ------------------------------------------------------------------
$header_height: 76px;

.header {
	min-height: $header_height;
	padding: 10px 20px;
}

.header-logo img {
	width: 180px;
}

.header-menu {
	
}