		<!-- FOOTER -->
        <div class="footer" role="contentinfo">
            <div class="footer-logo" itemscope itemtype="http://schema.org/Organization">
				<a href="index.html" itemprop="url"><img src="media/images/logo-wiley-black.png" alt="Wiley logo" itemprop="logo"></a>
            </div>
            <small class="footer-copy">&copy; 2010<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script> by John Wiley &amp; Sons, Inc. or related companies. All rights reserved.</small>
        </div><!-- END FOOTER -->
