		<!-- BEGIN HEADER -->
		<div class="header">
			<div class="header-logo" itemscope itemtype="http://schema.org/Organization">
				<a href="#home" itemprop="url" class="js-nav"><img src="media/images/ed-logo-header.png" alt="Wiley logo" itemprop="logo"></a>
            </div>
            <div class="header-menu">
            	<!-- BEGIN MENU -->
            	<div class="menu js-menu">
            		<a href="javascript:void(0);" class="menu-trigger js-menu-trigger">
            			<span class="menu-trigger-text">Menu</span>
						<div class="menu-trigger-icon"></div>
        			</a>
            		<div class="menu-content js-menu-content">
            			<div class="menu-search">
            				<form action="">
							<div class="search">
								<input type="search" id="search-example" class="search-input" placeholder="Search">
								<div class="search-btn"><i class="fa fa-search"></i></div>
								<input type="submit" value="Search" class="search-submit">
							</div>
						</form>
            			</div>
            			<div class="menu-break"></div>
            			<ul class="menu-sections">
            				<li><a href="#about" class="js-nav">About</a></li>
            				<li><a href="#solutions" class="js-nav">Solutions</a></li>
            				<li><a href="#partner" class="js-nav">Become A Partner</a></li>
            				<li><a href="#certify" class="js-nav">Get Certified</a></li>
            				<li><a href="#contact" class="js-nav">Contact Us</a></li>
            				<li><a href="find-partner.html" class="js-nav">Find An Authorized Partner</a></li>
            			</ul>
            			<div class="menu-break"></div>
            			<div class="menu-language js-drawer">
            				<a href="javascript:void(0);" class="menu-language-trigger js-drawer-trigger">
            					<span>US/Canada</span>
            					<i class="fa fa-chevron-right"></i>
            				</a>
            				<ul class="menu-language-content js-drawer-content" style="display:none;">
            					<li><a href="javascript:void(0);">Chinese</a></li>
            					<li><a href="javascript:void(0);">Dansk</a></li>
            					<li><a href="javascript:void(0);">UK/International</a></li>
            					<li><a href="javascript:void(0);">Deutsch</a></li>
            					<li><a href="javascript:void(0);">Norsk</a></li>
            					<li><a href="javascript:void(0);">Svenska</a></li>
            				</ul>
            			</div>
            			<div class="menu-break"></div>
            		</div>
            	</div><!-- END MENU -->
            </div>
		</div><!-- END HEADER -->