//----------------------------------------------------------------------
// Base Font Styles
//----------------------------------------------------------------------
$font_primary: 'Muli', Arial, sans-serif;
$font_secondary: 'Muli', Arial, sans-serif;
$font_heading: 'Muli', Arial, sans-serif;

//----------------------------------------------------------------------
// Common Colors
//----------------------------------------------------------------------
$brand: #0091D2;
$brand_light: #6BA2BB;
$brand_dark: #00597F;

$brand_secondary: #60b989;
$brand_secondary_light: #96d2a2;

$gray: #95a9ad;
$gray_light: #E9EEEE;
$gray_dark: #26545D;

$white: #FFFFFF;
$black: #000000;

$color_linkedin: #007bb6;
$color_twitter: #76aaeb;
$color_youtube: #cd201f;

//----------------------------------------------------------------------
// Widths
//----------------------------------------------------------------------
$site_max_width: 1024px;
$width_sm: 768px;

$box_shadow: 3px 5px 0 rgba(1, 1, 1, 0.11);
