// ------------------------------------------------------------------
// Menu, Med
// ------------------------------------------------------------------
.menu {margin-top: 9px;}

.menu-trigger {
	font-size: 20px;
}

.menu-content {
	top: 57px;
	right: -20px;
}

.menu-sections > li > a {
	padding: 8px 10px;
	font-size: 16px;
}

.menu-search {
	padding: 8px 10px;
}

.menu-language {
	padding: 8px 10px 0;
}

.menu-language-trigger {
	font-size: 14px;
}

.menu-language-content > li > a {
	padding: 8px 10px;
}