// ------------------------------------------------------------------
// Menu
// ------------------------------------------------------------------
.menu {
	position: relative;
	margin-top: 6px;
}

.menu-trigger {
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.menu-trigger:hover,
.menu-trigger:focus {
	text-decoration: none;
}

.menu-trigger-text {
	display: inline-block;
	padding-right: 10px;
	vertical-align: middle;
}

.menu-trigger-icon {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 2px;
	background: $brand;
	position: relative;
	vertical-align: middle;
}

.menu-trigger-icon:before,
.menu-trigger-icon:after {
	display: inline-block;
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	background: $brand;
}

.menu-trigger-icon:before {top: -6px;}
.menu-trigger-icon:after {top: 6px;}

.menu-content {
	//width: 100vw;
	min-height: 100vh;
	background: $brand_dark;
	border-left: 1px solid $brand_light;
	border-bottom: 1px solid $brand_light;
	position: absolute;
	top: 46px;
	right: -10px;
	transform: translateX(105%);
	transition: transform .3s ease-out;
}

.menu-content.active {transform: translateX(0);}

.menu-sections > li > a {
	display: block;
	width: 320px;
	padding: 6px 10px;
	color: $white;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.menu-sections > li > a:hover,
.menu-sections > li > a:focus,
.menu-language-content > li > a:hover,
.menu-language-content > li > a:focus {
	background: $brand;
	text-decoration: none;
}

.menu-break {
	width: 100%;
	margin: 5px 0;
	height: 1px;
	background: $brand_light;
}

.menu-search {
	padding: 6px 10px;
	margin: 5px 0;
}

.menu-language {
	padding: 6px 10px 0;
}

.menu-language-trigger {
	display: block;
	margin-bottom: 10px;
	@include clearfix();
	color: $white;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.menu-language-trigger span {float: left;}

.menu-language-trigger i {
	float: right;
	transition: .2s;
}

.menu-language-trigger.active i {transform: rotate(90deg);}

.menu-language-content {}

.menu-language-content > li > a {
	display: block;
	padding: 6px 10px;
	color: $white;
	font-size: 14px;
	font-weight: 400;
}
