		<!-- BEGIN ABOUT SECTION -->
		<div id="about" class=""></div>
        <div class="section section_about scrollme">
        	<div class="section-bg animateme" data-when="enter" data-from="1" data-to="2" data-crop="true" data-translatey="500" data-easing="linear"></div>
        	<div class="section-cell">
        		<div class="section-content section-content_lg">
        			<div class="mediaBox pushBtm40 animateme" data-when="enter" data-from="1" data-to=".25" data-crop="true" data-opacity="0" data-easing="easeout">
		    			<div class="mediaBox-media " data-when="enter" data-from="1" data-to="0" data-crop="true" data-translatex="-500" data-easing="easeout">
		    				<img src="media/images/DiSC-model.png" alt="DiSC model">
		    			</div>
	        			<div class="mediaBox-copy " data-when="enter" data-from="1" data-to="0" data-crop="true" data-translatex="500" data-easing="easeout">
	        				<h2 class="hdg hdg_1 pushBtm20">What is DiSC?</h2>
	        				<p class="txt_lg pushBtm40">DiSC is a very simple—and memorable—model made up of four basic styles: D, i, S, and C. Everyone is a blend of all four DiSC styles—usually one, two, or even three styles stand out. Unlike simple personality tests, there is no perfect DiSC style. Since each person has a unique behavioral profile, people are walking around all over the world with different styles and priorities. We believe that these differences are extremely valuable. Once you assess these differences and harness their value, you’ll have better workplace communication AND healthier organizations.</p>
	        			</div>
        			</div>
        		</div>
        	</div>
        	<div class="scrollLink animateme" data-when="exit" data-from="0" data-to="1" data-crop="true" data-translatey="300" data-easing="linear">
				<a href="#solutions" class="scrollLink js-nav">Our Solutions</a>
			</div>
        </div><!-- END ABOUT SECTION -->