		<!-- BEGIN HOME SECTION -->
		<div class="section section_home scrollme">
			<div class="anchorTop" id="home"></div>
    		<div class="section-bg animateme" data-when="exit" data-from="0" data-to="1" data-crop="true" data-translatey="500" data-easing="linear"></div>
			<div class="section-cell">
				<div class="section-content animateme" data-when="exit" data-from="0" data-to="1.3" data-crop="true" data-translatey="500" data-easing="linear">
					<img src="media/images/logo-ed-white-300.png" class="pushBtm20 isHiddenMobile" alt="">
					<h1 class="hdg hdg_1 pushBtm20"><span class="txt_inlineblock">Get To Know</span> <span class="txt_inlineBlock">Everything DiSC<sup>&reg;</sup></span></h1> 
					<p class="txt_lg pushBtm40">Everything DiSC<sup>&reg;</sup> solutions provide rich, versatile learning programs that offer personal insight for learners at every level of an organization, using a consistent language of DiSC.</p>
					<div class="wrap pushBtm40">
						<a href="#solutions" class="btn js-nav">NEW! Productive Conflict</a>
						<a href="find-partner.html" class="btn js-nav">Find An Authorized Partner</a>
					</div>
				</div>
			</div>
			<div class="scrollLink scrollLink_white animateme" data-when="exit" data-from="0" data-to="1" data-crop="true" data-translatey="300" data-easing="linear">
				<a href="#about" class="pushBtm20 pushRight20 js-nav">Learn More</a>
			</div>
        </div><!-- END HOME SECTION -->