		<!-- BEGIN SOLUTIONS SECTION -->
		<div id="solutions" class=""></div>
        <div class="section section_solutions ">
        	<div class="section-bg scrollme animateme" data-when="enter" data-from="1" data-to="2" data-crop="true" data-translatey="500" data-easing="linear"></div>
        	<div class="section-cell">
				<div class="section-content animateme" data-when="enter" data-from="1" data-to="2.3" data-crop="true" data-translatey="500" data-easing="linear">
					<h2 class="hdg hdg_1 pushBtm20"><span class="txt_inlineblock">Versatile solutions</span> <span class="txt_inlineBlock">for personalized learning.</span></h2>
					<p class="txt_lg pushBtm40">Our flexible Everything DiSC® applications are designed to help learners better understand themselves AND others. Whether improving working relationships, strengthening management skills, or tackling conflict with a new mindset, Everything DiSC delivers insights and strategies to meet your learners’ unique needs.</p>
					<div class="tabModal js-tabModal pushBtm40">
						<ul class="tabModal-trigger js-tabModal-trigger">
							<li><a href="#solutions" class="btn js-nav">Productive Conflict</a></li>
							<li><a href="#solutions" class="btn js-nav">Workplace</a></li>
							<li><a href="#solutions" class="btn js-nav">Management</a></li>
							<li><a href="#solutions" class="btn js-nav">Work of Leaders</a></li>
							<li><a href="#solutions" class="btn js-nav">Sales</a></li>
							<li><a href="#solutions" class="btn js-nav">363 For Leaders</a></li>
						</ul>
						<div class="tabModal-content js-tabModal-content">
							<div class="tabModal-content-item js-tabModal-content-item">
								<h3 class="hdg hdg_2 pushBtm20">
									<span class="txt_inlineBlock">Harness the power of workplace conflict with </span>
									<span class="txt_inlineBlock">Everything DiSC® Productive Conflict</span></h3>
								<p class="txt_med">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptates repellat maiores eius nobis omnis culpa in quidem mollitia neque consequuntur aut alias vitae assumenda debitis rerum, recusandae fugiat excepturi voluptatem voluptas, deserunt, esse delectus! Illo deserunt voluptates dolorem repellendus sed itaque aliquid, temporibus cumque ratione, autem maiores accusantium natus facere sint, iure soluta neque placeat? Illo pariatur illum laboriosam. Assumenda a dolore voluptatibus quos excepturi quidem quis nihil consectetur culpa repellat officia, laborum quibusdam non repudiandae tenetur dolorum similique, dolor libero error aliquid magni veniam vitae, id. Expedita vitae quae architecto soluta ullam ipsa sed nulla aliquid et maiores.</p>
							</div>
							<div class="tabModal-content-item js-tabModal-content-item">
								<h3 class="hdg hdg_2 pushBtm20">Introducing Everything DiSC Workplace®</h3>
								<p class="txt_med">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptates repellat maiores eius nobis omnis culpa in quidem mollitia neque consequuntur aut alias vitae assumenda debitis rerum, recusandae fugiat excepturi voluptatem voluptas, deserunt, esse delectus! Illo deserunt voluptates dolorem repellendus sed itaque aliquid, temporibus cumque ratione, autem maiores accusantium natus facere sint, iure soluta neque placeat? Illo pariatur illum laboriosam. Assumenda a dolore voluptatibus quos excepturi quidem quis nihil consectetur culpa repellat officia, laborum quibusdam non repudiandae tenetur dolorum similique, dolor libero error aliquid magni veniam vitae, id.</p>
							</div>
							<div class="tabModal-content-item js-tabModal-content-item">
								<h3 class="hdg hdg_2 pushBtm20">Everything DiSC® Management teaches managers how to bring out the best in each employee.</h3>
								<p class="txt_med">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptates repellat maiores eius nobis omnis culpa in quidem mollitia neque consequuntur aut alias vitae assumenda debitis rerum, recusandae fugiat excepturi voluptatem voluptas, deserunt, esse delectus! Illo deserunt voluptates dolorem repellendus sed itaque aliquid, temporibus cumque ratione, autem maiores accusantium natus facere sint, iure soluta neque placeat?</p>
							</div>
							<div class="tabModal-content-item js-tabModal-content-item">
								<h3 class="hdg hdg_2 pushBtm20">The Work of Leaders made simple: Vision, Alignment, and Execution.</h3>
								<p class="txt_med">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum harum cumque veniam saepe nesciunt voluptatem dicta, voluptatibus nulla consectetur deleniti magni veritatis quae incidunt amet soluta atque, ratione, officia. Nam quis qui fuga deleniti iure eum expedita optio eligendi autem porro nostrum similique architecto molestiae quas voluptas harum dicta corporis, reiciendis id iste impedit. Distinctio, nostrum, quibusdam. Nobis autem cum eius vitae deserunt commodi tenetur, alias animi in cumque facere quasi atque error, rerum repellat iure. Officiis sed ipsa, commodi provident suscipit possimus. Quam minima nobis, ipsam, porro dolorum cupiditate! Recusandae ipsa veritatis dolorem quod commodi aspernatur ex fugiat qui velit, et doloremque sint labore voluptatem molestias cumque, distinctio, magni repellat adipisci quidem dolores ad quas tempora. Commodi maxime, libero illo inventore rem iste beatae aspernatur, consectetur, molestiae in ea?</p>
							</div>
							<div class="tabModal-content-item js-tabModal-content-item">
								<h3 class="hdg hdg_2 pushBtm20">Everything DiSC® Sales teaches salespeople how to connect better with their customers.</h3>
								<p class="txt_med">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum atque culpa ullam sunt iusto quae sequi velit iure quos, officia animi, placeat accusamus, ea nihil porro. Maxime eligendi dolor asperiores similique aliquam eius alias commodi vitae aperiam odit modi, aspernatur sint amet inventore, ullam dicta beatae error quis! Dolores blanditiis impedit delectus quisquam ullam obcaecati quas, esse quidem, dolorum, eaque incidunt. Eveniet ad temporibus molestias saepe deserunt ipsam sit laboriosam illum aspernatur dolorem nam reprehenderit ratione, fuga rerum non molestiae odio officia id, eum ea amet similique necessitatibus illo ex.</p>
							</div>
							<div class="tabModal-content-item js-tabModal-content-item">
								<h3 class="hdg hdg_2 pushBtm20">Introducing Everything DiSC 363® for Leaders: a new kind of 360!</h3>
								<p class="txt_med">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum pariatur nihil repellendus eaque beatae natus distinctio deleniti, explicabo aspernatur corporis soluta amet facilis ex animi possimus mollitia minus, quibusdam commodi numquam. Nemo delectus quasi corrupti deleniti dolore eligendi autem cumque, error consectetur! Ipsam voluptates voluptatum minus nesciunt sapiente. Libero, nobis.</p>
							</div>
							<a href="#solutions" class="tabModal-content-close js-tabModal-content-close js-nav">
								<i class="fa fa-times"></i>
							</a>
						</div>
					</div><!-- END MODAL TABS -->
				</div>
			</div>
			<div class="scrollLink scrollLink_white scrollme animateme" data-when="exit" data-from="0" data-to="1" data-crop="true" data-translatey="300" data-easing="linear">
				<a href="#partner" class="scrollLink js-nav">Become A Partner</a>
			</div>
        </div><!-- END SOLUTIONS SECTION -->