// ------------------------------------------------------------------
// Footer
// ------------------------------------------------------------------
.footer {
	padding: 10px 20px 30px;
	background: $gray_light;
	text-align: center;
}

.footer-logo {
	width: 120px;
	margin: 0 auto;
}

.footer-logo img {width: 100%;}

.footer-copy {font-size: 12px;}
